<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <!--<httpCookies httpOnlyCookies="true" />-->
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="50000000"/>
  </system.web>
  <!--<system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <add name="Content-Security-Policy" value="default-src self" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="50000000" />
      </requestFiltering>
    </security>
  </system.webServer>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.FileSystems" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
      <add name="MyImageHandler" path="*.*" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="manajer" value="aa17dd56-0b0a-4fb5-9c74-873db68f234c"/>
    <add key="g-recaptcha-secret" value="6LfdehsTAAAAADvd6dH5Wf_OTxGUzyzEIFcQlld4"/>
    <add key="USE_GOOGLE_RECAPTCHA" value="false"/>
    <!-- workflowconfigure-->
    <add key="WorkflowTemplateId1" value="1"/>
    <add key="WorkflowTemplateId2" value="2"/>
    <add key="BATASAN_BIAYA" value="50000000"/>
    <add key="BATASAN_BIAYA_DIREKSI" value="100000000"/>
    <add key="BATASAN_BIAYA_DIRUT" value="1000000000"/>
    <!--end-->
    <!--<add key="from_email" value="hussein.elcapo@gmail.com" />
  <add key="from_name" value="e-procurement mandiri tunas finance" />
  <add key="from_password" value="P@ssw0rd!hussein" />
  <add key="mail_host" value="smtp.gmail.com" />
  <add key="mail_port" value="587" />
  <add key="mail_enable_ssl" value="true" />-->
    <add key="FROM_EMAIL" value="procurement@mtf.co.id"/>
    <add key="FROM_NAME" value="EPROC MTF"/>
    <add key="MAIL_HOST" value="mail.mtf.co.id"/>
    <add key="MAIL_PORT" value="587"/>
    <add key="MAIL_ENABLE_SSL" value="true"/>
    <add key="MAIL_VENDOR_REGISTRATION_TITLE" value="Pengajuan Rekanan PT Mandiri Tunas Finance"/>
    <add key="MAIL_VENDOR_REGISTRATION_BODY" value="Selamat Datang, &lt;br&gt; Kami telah menerima pengajuan rekanan anda. Pengajuan Anda sedang memasuki proses verifikasi.&lt;br&gt;&lt;br&gt;Anda bisa memantau perkembangan status pengajuan di: {0}/registrasi.html?no={1} &lt;br&gt;&lt;br&gt;Terima kasih, &lt;br&gt;&lt;br&gt;Tim Pengadaan&lt;br&gt;PT Mandiri Tunas Finance"/>
    <add key="MAIL_VENDOR_VERIFICATION_TITLE" value="Verifikasi Pengajuan Rekanan PT Mandiri Tunas Finance"/>
    <add key="MAIL_VENDOR_VERIFICATION_BODY" value="Selamat Pagi,&lt;br&gt;&lt;br&gt; Selamat, {0}, pengajuan rekanan Anda telah berhasil kami verifikasi. Dengan ini, perusahaan Anda dapat mengikuti kegiatan pengadaan yang dilakukan oleh PT Mandiri Tunas Finance.&lt;br&gt;&lt;br&gt;Gunakan username dan kata sandi di bawah ini untuk masuk ke dalam sistem pengadaan online PT Mandiri Tunas Finance.&lt;br&gt;&lt;br&gt;Username : {1}&lt;br&gt;Kata Sandi : {2}&lt;br&gt;&lt;br&gt;Gunakan link ini untuk masuk: {3}&lt;br&gt;&lt;br&gt;&lt;br&gt;Regards,&lt;br&gt;&lt;br&gt;Tim Pengadaan&lt;br&gt;PT Mandiri Tunas Finance"/>
    <add key="MAIL_PENAWARAN_TITLE" value="Undangan Aanwijzing"/>
    <add key="MAIL_PENAWARAN_YTH" value="Kepada Yth"/>
    <add key="MAIL_PENAWARAN_FOOTER1" value="Tim Panitia Pengadaan"/>
    <add key="MAIL_PENAWARAN_FOOTER2" value="PT. Mandiri Tunas Finance"/>
    <add key="MAIL_KLARIFIKASI_TITLE" value="Undangan Klarifikasi"/>
    <add key="MAIL_KLARIFIKASI_YTH" value="Kepada Yth"/>
    <add key="MAIL_KLARIFIKASI_FOOTER1" value="Tim Panitia Pengadaan"/>
    <add key="MAIL_KLARIFIKASI_FOOTER2" value="PT. Mandiri Tunas Finance"/>
    <add key="MAIL_BODY_APPROVER" value="Ada Persetujuan Untuk Pengadaan: "/>
    <add key="MAIL_SUBJECT_APPROVER" value="Pemberitahuan Minta Persetujuan"/>
    <!--<add key="MAIL_PEMENANG_BODY" value="Jakarta, {1}&lt;br&gt;&lt;br&gt;&lt;br&gt;Nomor: {2}.&lt;br&gt;Hal : Perihal Pemberitahuan Menang.&lt;br&gt;Lamp : - &lt;br&gt;&lt;br&gt;Kepada Yth.&lt;br&gt;{3}&lt;br&gt;{4}&lt;br&gt;&lt;br&gt;Sehubungan dengan adanya proses tender {0} maka dengan ini kami sampaikan hal-hal sebagai berikut :&lt;br&gt;1.  Berdasarkan hasil penilaian yang telah dilakukan oleh tim Pengadaan {0}&lt;br&gt;2.  Sehubungan dengan hal tersebut diatas, kami nyatakan anda menang&lt;br&gt;&lt;br&gt;Hormat Kami, &lt;br&gt;&lt;br&gt;&lt;br&gt;Tan Rina&lt;br&gt;Division Head GA, Procurement &amp; Branch Support" />
  <add key="MAIL_KALAH_BODY" value="Jakarta, {1}&lt;br&gt;&lt;br&gt;&lt;br&gt;Nomor: {2}.&lt;br&gt;Hal : Perihal Pemberitahuan Kalah.&lt;br&gt;Lamp : - &lt;br&gt;&lt;br&gt;Kepada Yth.&lt;br&gt;{3}&lt;br&gt;{4}&lt;br&gt;&lt;br&gt;Sehubungan dengan adanya proses tender {0} maka dengan ini kami sampaikan hal-hal sebagai berikut :&lt;br&gt;1.  Berdasarkan hasil penilaian yang telah dilakukan oleh tim Pengadaan {0}&lt;br&gt;2.  Sehubungan dengan hal tersebut diatas, kami mengucapkan terima kasih, dan tetap mengharapkan partisipasi Saudara dalam mengikuti pengadaan-pengadaan lainnya pada kesempatan mendatang.&lt;br&gt;&lt;br&gt;Demikian untuk dimaklumi. Atas Perhatian dan kerjasamanya kami ucapkan terima kasih.&lt;br&gt;&lt;br&gt;Hormat Kami, &lt;br&gt;&lt;br&gt;&lt;br&gt;Tan Rina&lt;br&gt;Division Head GA, Procurement &amp; Branch Support" />-->
    <add key="MAIL_PEMENANG_HEAD" value="Jakarta, {1}&lt;br&gt;&lt;br&gt;&lt;br&gt;Nomor: {2}.&lt;br&gt;Hal : Perihal Pemberitahuan Menang&lt;br&gt;Lamp : - &lt;br&gt;&lt;br&gt;Kepada Yth.&lt;br&gt;{3}&lt;br&gt;{4}&lt;br&gt;&lt;br&gt;"/>
    <add key="MAIL_KALAH_HEAD" value="Jakarta, {1}&lt;br&gt;&lt;br&gt;&lt;br&gt;Nomor: {2}.&lt;br&gt;Hal : Perihal Pemberitahuan Kalah&lt;br&gt;Lamp : - &lt;br&gt;&lt;br&gt;Kepada Yth.&lt;br&gt;{3}&lt;br&gt;{4}&lt;br&gt;&lt;br&gt;"/>
    <add key="MAIL_PEMENANG_FOOTER" value="&lt;br&gt;&lt;br&gt;Hormat Kami, &lt;br&gt;&lt;br&gt;&lt;br&gt;Ruly Widyanto&lt;br&gt;Operation Support Management Division Head"/>
    <add key="MAIL_KALAH_FOOTER" value="&lt;br&gt;&lt;br&gt;Hormat Kami, &lt;br&gt;&lt;br&gt;&lt;br&gt;Ruly Widyanto&lt;br&gt;Operation Support Management Division Head"/>
    <add key="MAIL_MENANG_KALAH_CONFIG" value="off"/>
    <add key="MAIL_KALAH_SUBJECT" value="Surat Pemberitahuan Pengadaan {5} (Surat Kalah)"/>
    <add key="MAIL_PEMENANG_SUBJECT" value="Surat Pemberitahuan Pengadaan {5} (Surat Menang)"/>
    <add key="KODE_PENGADAAN" value="/EPROC/MTF-PROC/"/>
    <add key="KODE_BERITAACARA" value="/MTF-PROC/"/>
    <add key="KODE_NOTA" value="/NOTA-PROC/MTF/"/>
    <add key="KODE_SPK" value="/SPK-PROC/MTF/"/>
    <add key="KODE_PO" value="/MTF-PROC/HO/"/>
    <add key="KODE_KALAH" value="/SKL-PROC/MTF/"/>
    <add key="KODE_MENANG" value="/SMN-PROC/MTF/"/>
    <add key="VIEW_BASE_PATH" value="View"/>
    <add key="FILE_UPLOAD_TEMP" value="\Upload\Temp\"/>
    <add key="FILE_UPLOAD_VENDOR" value="\Upload\Vendor\"/>
    <add key="FILE_UPLOAD_REG" value="\Upload\Registrasi\"/>
    <add key="FILE_UPLOAD_DOC" value="\Upload\Dokumen\Pengadaan\"/>
    <add key="FILE_UPLOAD_BUDGET" value="\Upload\Dokumen\Budget\"/>
    <add key="FILE_DOKUMEN_PKS_PATH" value="\Upload\Dokumen\Pks\"/>
    <add key="FILE_DOKUMEN_SPK_PATH" value="\Upload\Dokumen\Spk\"/>
    <add key="FILE_DOKUMEN_PO_PATH" value="\Upload\Dokumen\PO\"/>
    <add key="MSC_REGISTRATION_DUE" value="5"/>
    <add key="FILE_REPORT_PATH" value="\Report\"/>
    <add key="FILE_UPLOAD_DOCPRO" value="C:\\Users\\USER\\Documents\\Projects\\MTF\\repo\\eproc-mtf\\Reston.EProc.Runner.IIS\\UploadDokumenMonitor\\"/>
    <!--IDENTITY SERVER-->
    <add key="IDSRV_URL" value="https://localhost:44396/identity"/>
    <add key="IDSRV_SECRET" value=""/>
    <add key="IDSRV_DNSSAFE" value="false"/>
    <add key="IDSRV_RUNSEEDER" value="false"/>
    <add key="IDM_URL" value="https://localhost:44396/"/>
    <add key="IDM_CLIENTNAME" value="Identity Manager"/>
    <add key="IDM_CLIENTID" value="idm"/>
    <add key="IDM_SECRET" value="secret"/>
    <add key="EPROC_URL" value="https://localhost:44392/"/>
    <add key="EPROC_CLIENTNAME" value="EPROC"/>
    <add key="EPROC_CLIENTID" value="proc"/>
    <add key="EPROC_SECRET" value="secret"/>
    <!--END IDENTITY SERVER-->
    <!--ROLES-->
    <add key="ROLE_SUPERADMIN" value="eproc_superadmin"/>
    <add key="ROLE_ADMIN" value="eproc_admin"/>
    <add key="ROLE_USER" value="eproc_user"/>
    <add key="ROLE_PROCHEAD" value="procurement_head"/>
    <add key="ROLE_PROCMANAGER" value="procurement_manager"/>
    <add key="ROLE_PROCSTAFF" value="procurement_staff"/>
    <add key="ROLE_COMPLIANCE" value="compliance"/>
    <add key="ROLE_ENDUSER" value="end_user"/>
    <add key="ROLE_VENDOR" value="rekanan_terdaftar"/>
    <!--END ROLES-->
    <!-- kondisi tambahan-->
    <add key="RKS_CHANGE_AFTER_APROVE" value="1"/>
  </appSettings>
  <!--<connectionStrings>-->
    <!--<add name="JimbisEntities" connectionString="Server=SVR-EPROC\SQLSERVER;Database=Pengadaane;User ID=sa;Password=30Maret2016;Trusted_Connection=False;" providerName="System.Data.SqlClient" />-->
    <!--<add name="JimbisEntities" connectionString="Server=.\MSSQLSERVER01;Database=Pengadaan.Release;Integrated Security=true;" providerName="System.Data.SqlClient" />-->
	<!--<add name="JimbisEntities" connectionString="Server=.;Database=Pengadaan.Release12;User ID=restore;Password=restore0987;" providerName="System.Data.SqlClient" />-->
	  <!--<add name="JimbisEntities" connectionString="Server=X;Database=Pengadaane;User ID=sa;Password=mgr;Trusted_Connection=False;" providerName="System.Data.SqlClient" />-->
    <!--<add name="JimbisEntities" connectionString="Server=DESKTOP-OLKCEPF\SQLEXPRESS;Database=Pengadaan.Release;User ID=sa;Password=123456;Trusted_Connection=False;" providerName="System.Data.SqlClient" />-->
  <!--</connectionStrings>-->

	<connectionStrings>
		<!--<add name="JimbisEntities" connectionString="" providerName="System.Data.SqlClient"/>-->
		<!--<add name="JimbisEntities" connectionString="Server=YCR\SQLEXPRESS;Database=Pengadaan.Release12;User ID=christian;Password=admin;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>-->
		<add name="JimbisEntities" connectionString="Server=X;Database=Pengadaan.Release;User ID=sa;Password=mgr;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>
		
	</connectionStrings>
	<!--<connectionStrings>
	<add name="JimbisEntities" connectionString="Server=YCR\SQLEXPRESS;Database=Pengadaan.Release12;User ID=christian;Password=admin;Trusted_Connection=False;" providerName="System.Data.SqlClient" />
	</connectionStrings>-->
	
	 


	<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>