<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Mandiri Tunas Finance</title>
  
  <!-- core CSS -->
    <link href="open/css/bootstrap.min.css" rel="stylesheet">
    <link href="open/css/font-awesome.min.css" rel="stylesheet">
    <link href="open/css/animate.min.css" rel="stylesheet">
    <link href="open/css/prettyPhoto.css" rel="stylesheet">
    <link href="open/css/main.css" rel="stylesheet">
    <link href="open/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="open/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="open/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="open/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="open/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body class="homepage">

    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-4">
                        <div class="top-number"><p><i class="fa fa-phone-square"></i> Contact (62-21) 2305608</p></div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                       <div class="social">
                            <ul class="social-share">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                            <div class="search">
                                <form role="form">
                                    <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                                    <i class="fa fa-search"></i>
                                </form>
                           </div>
                       </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="procurement.html"><img src="open/images/logo-mandiri.jpg" alt="logo"></a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">   
                        <li><a href="beranda-eproc.html">Pengumuman Lelang</a></li>
                        <li class="active"><a href="about-us.html">Cari Pengadaan</a></li>
                        <!--<li><a href="tanya-jawab.html">Tanya Jawab</a></li>-->
                        <li><a href="kontak-kami.html">Kontak Kami</a></li>
                        <li><a href="registrasi.html" target="_blank">Registrasi</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    
    </header><!--/header-->
  <!-- Full Width Column -->
   <div class="content-wrapper">
    <div class="container">
      <!-- Main content -->
      <section class="content">
        <div class="box box-default">
          <div class="box-body">
            <div class="tab-content">
              <div class="tab-pane active" id="approval_perencanaan">
                  <div class="tab-content">
                      <h2 class="box-title">Daftar Pengadaan Proyek</h2>
                      <!-- tab-pane Pengadaan Barang-->
                      <div class="tab-pane active" id="pengadaan_barang">
                          <div class="form-group col-md-4">
                              <!-- search form -->
                              <div class="input-group">
                                  <input type="text" name="q" class="form-control" placeholder="No. Pengadaan atau Nama Pengadaan...">
                                  <span class="input-group-btn">
                                      <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                                  </span>
                              </div>
                          </div>
                          <table class="table table-bordered">
                              <thead>
                                  <tr>
                                      <td class="tengah text-bold" style="width:100px;">No. Pengadaan</td>
                                      <td class="tengah text-bold" style="width:350px;">Nama Pengadaan</td>
                                      <td class="tengah text-bold" style="width:150px;">Klasifikasi</td>
                                      <td class="tengah text-bold" style="width:150px;">Tahap</td>
                                      <td class="tengah text-bold" style="width:150px;">HPS / Pagu (Rp.)</td>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>1/EPROC/MTF-GA/XI/2016</td>
                                      <td><a href="" class="text-bold">Pengadaan Barang/Jasa Kertas Resi ATM Tahun 2016</a><br>Pengadaan Barang - TA 2016 - CAPEX - Pengadaan Terbuka, Berkas Tunggal, Price Matching<br></td>
                                      <td>SIPIL</td>
                                      <td>Pengisian Harga</td>
                                      <td>272,6 Jt</td>
                                  </tr>
                                  <tr>
                                      <td>2/EPROC/MTF-GA/XI/2016</td>
                                      <td><a href="" class="text-bold">Pengadaan Total Managed Service (Jasa & Mesin) EDC Link</a><br>Pengadaan Barang - TA 2016 - CAPEX - Pengadaan Terbuka, Berkas Tunggal, Price Matching<br></td>
                                      <td>NONSIPIL</td>
                                      <td>Buka Amplop</td>
                                      <td>2,5 M</td>
                                  </tr>
                                  <tr>
                                      <td>3/EPROC/MTF-GA/XI/2016</td>
                                      <td><a href="" class="text-bold">Pengadaan Jasa Pemeliharaan Pengoperasian Sistem Intranet dan Internet di Kantor Pusat PT Bank Mandiri (Persero) Tbk</a><br>Pengadaan Barang - TA 2016 - CAPEX - Pengadaan Terbuka, Berkas Tunggal, Price Matching<br></td>
                                      <td>SIPIL</td>
                                      <td>Penilaian Kandidat</td>
                                      <td>552,1 Jt</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="approval_persetujuan_perencanaan">
                  <ul class="nav nav-tabs">
                      <li class="active"><a href="#not_approved_yet2" data-toggle="tab">Pengadaan Barang</a></li>
                      <li><a href="#approved2" data-toggle="tab">Approved</a></li>
                  </ul>
                  <div class="tab-content">
                      <div class="tab-pane active" id="not_approved_yet2">
                          <table class="table table-bordered" style="margin-top:20px;">
                              <tr>
                                  <td style="text-align:center; width:350px; font-weight:bold;">Nama Pekerjaan</td>
                                  <td style="text-align:center; width:150px; font-weight:bold;">Total</td>
                                  <td style="text-align:center; width:200px; font-weight:bold;">Approved Pemenang</td>
                                  <td style="text-align:center; width:400px; font-weight:bold;">Note</td>
                              </tr>
                              <tr>
                                  <td><a href="#">Pembangunan Kantor Cabang Jakarta</a></td>
                                  <td style="text-align:right;">600.000.000</td>
                                  <td>
                                      <select style="width:100%;" class="form-control">
                                          <option selected="selected">Submitted</option>
                                          <option>Not Approved Yet</option>
                                          <option>Approved</option>
                                      </select>
                                  </td>
                                  <td><input type="text" class="form-control" value="" style="width:100%;"></td>
                              </tr>
                              <tr>
                                  <td><a href="#">Pembelian Mobil Operasional</a></td>
                                  <td style="text-align:right;">2.000.000.000</td>
                                  <td>
                                      <select style="width:100%;" class="form-control">
                                          <option selected="selected">Submitted</option>
                                          <option>Not Approved</option>
                                          <option>Approved</option>
                                      </select>
                                  </td>
                                  <td><input type="text" class="form-control" value="" style="width:100%;"></td>
                              </tr>
                              <tr>
                                  <td><a href="#">Perbaikan Gedung Pusat</a></td>
                                  <td style="text-align:right;">900.000.000</td>
                                  <td>
                                      <select style="width:100%;" class="form-control">
                                          <option selected="selected">Submitted</option>
                                          <option>Not Approved</option>
                                          <option>Approved</option>
                                      </select>
                                  </td>
                                  <td><input type="text" class="form-control" value="" style="width:100%;"></td>
                              </tr>
                              <tr>
                                  <td><a href="#">Pengadaan ATK di Cabang Jakarta</a></td>
                                  <td style="text-align:right;">500.000.000</td>
                                  <td>
                                      <select style="width:100%;" class="form-control">
                                          <option selected="selected">Submitted</option>
                                          <option>Not Approved</option>
                                          <option>Approved</option>
                                      </select>
                                  </td>
                                  <td><input type="text" class="form-control" value="" style="width:100%;"></td>
                              </tr>
                              <tr>
                                  <td><a href="#">Pengadaan ATK di Cabang Tangerang</a></td>
                                  <td style="text-align:right;">500.000.000</td>
                                  <td>
                                      <select style="width:100%;" class="form-control">
                                          <option selected="selected">Submitted</option>
                                          <option>Not Approved</option>
                                          <option>Approved</option>
                                      </select>
                                  </td>
                                  <td><input type="text" class="form-control" value="" style="width:100%;"></td>
                              </tr>
                          </table>
                      </div>
                      <!-- /.tab-pane -->
                      <div class="tab-pane" id="approved2">
                          <table class="table table-bordered" style="margin-top:20px;">
                      <tr>
                          <td style="text-align:center; width:350px; font-weight:bold;">Nama Pekerjaan</td>
                          <td style="text-align:center; width:150px; font-weight:bold;">Total</td>
                          <td style="text-align:center; width:200px; font-weight:bold;">Approved Pemenang</td>
                          <td style="text-align:center; width:400px; font-weight:bold;">Note</td>
                      </tr>
                      <tr>
                          <td><a href="#">Pembangunan Kantor Cabang Depok</a></td>
                          <td style="text-align:right;">1.000.000.000</td>
                          <td>
                              <select style="width:100%;" class="form-control">
                                  <option selected="selected">Submitted</option>
                                  <option>Not Approved Yet</option>
                                  <option>Approved</option>
                              </select>
                          </td>
                          <td><input type="text" class="form-control" value="" style="width:100%;"></td>
                      </tr>
                      <tr>
                          <td><a href="#">Pembelian Motor Operasional</a></td>
                          <td style="text-align:right;">200.000.000</td>
                          <td>
                              <select style="width:100%;" class="form-control">
                                  <option selected="selected">Submitted</option>
                                  <option>Not Approved</option>
                                  <option>Approved</option>
                              </select>
                          </td>
                          <td><input type="text" class="form-control" value="" style="width:100%;"></td>
                      </tr>
                      <tr>
                          <td><a href="#">Perbaikan Gedung Cabang Depok</a></td>
                          <td style="text-align:right;">200.000.000</td>
                          <td>
                              <select style="width:100%;" class="form-control">
                                  <option selected="selected">Submitted</option>
                                  <option>Not Approved</option>
                                  <option>Approved</option>
                              </select>
                          </td>
                          <td><input type="text" class="form-control" value="" style="width:100%;"></td>
                      </tr>
                      <tr>
                          <td><a href="#">Pengadaan ATK Cabang Bogor</a></td>
                          <td style="text-align:right;">100.000.000</td>
                          <td>
                              <select style="width:100%;" class="form-control">
                                  <option selected="selected">Submitted</option>
                                  <option>Not Approved</option>
                                  <option>Approved</option>
                              </select>
                          </td>
                          <td><input type="text" class="form-control" value="" style="width:100%;"></td>
                      </tr>
                      <tr>
                          <td><a href="#">Pengadaan ATK KPC Cabang Depok</a></td>
                          <td style="text-align:right;">350.000.000</td>
                          <td>
                              <select style="width:100%;" class="form-control">
                                  <option selected="selected">Submitted</option>
                                  <option>Not Approved</option>
                                  <option>Approved</option>
                              </select>
                          </td>
                          <td><input type="text" class="form-control" value="" style="width:100%;"></td>
                      </tr>
                      <tr>
                          <td><a href="#">Perawatan AC Mandiri KCP Tebet</a></td>
                          <td style="text-align:right;">200.000.000</td>
                          <td>
                              <select style="width:100%;" class="form-control">
                                  <option selected="selected">Submitted</option>
                                  <option>Not Approved</option>
                                  <option>Approved</option>
                              </select>
                          </td>
                          <td><input type="text" class="form-control" value="" style="width:100%;"></td>
                      </tr>
                      <tr>
                          <td><a href="#">Pengadaan Acara Puncak Ulang Tahun Mandiri</a></td>
                          <td style="text-align:right;">2.000.000.000</td>
                          <td>
                              <select style="width:100%;" class="form-control">
                                  <option selected="selected">Submitted</option>
                                  <option>Not Approved</option>
                                  <option>Approved</option>
                              </select>
                          </td>
                          <td><input type="text" class="form-control" value="" style="width:100%;"></td>
                      </tr>
                  </table>
                      </div>
                  <!-- /.tab-pane -->
                  </div>
              </div>
          <!-- /.tab-pane -->
          </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->

<!-- jQuery 2.1.4 -->
    <script src="plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="site.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
	<script src="dist/js/purify.js"></script>
    <script src="plugins/fastclick/fastclick.min.js"></script>
    <script src='plugins/fullcalendar/moment.min.js'></script>
    <script src="plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="plugins/jQueryUItotop/easing.js"></script>
    <script src="plugins/jQueryUItotop/jquery.ui.totop.js"></script>
    <script src="plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="plugins/bootstrap-dialog/bootstrap-dialog.min.js"></script>
    <script src="dist/site.js"></script>
    <script src="dist/js/app.min.js"></script>
    <script src="plugins/angular/angular.min.js"></script>
    <script src="dist/js/menu.js"></script>
    <script src="dist/js/pengadaan-list.js"></script>
    <script src="blockui/jquery.blockUI.js"></script>
    <script>
    </script>
</body>
</html>
