<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mandiri Tunas Finance</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <style>
        body {
            font-family: Calibri;
        }

        .content {
            margin: 0px auto;
            width: 80%;
        }

        .judul {
            text-align: center;
        }
        table {
            width:100%;
            border-collapse:collapse;
        }
        table, th, td {
            border:1px solid black;
            padding:5px;
        }
        .bold {
            font-weight: 600;
        }
        .center {
            text-align:center;
        }
        .left {
            text-align:left;
        }
        .right {
            text-align:right;
        }
        .content-head {
            margin-top: 10px;
        }
        .border-none {
            border:0px none;
        }
        .border-right {
            border-right:1px solid black;
        }
        .content-isi {
            width:100%;
        }
        .nomor {
            width:5%;
            margin-left:15px;
            float:left;
        }
        .isi {
            width:90%;
            float:left;
        }
        .clear {
            clear:both;
        }
    </style>
</head>
<body>
    <div class="content">
        <div class="judul">
            <h2>PURCHASE ORDER</h2>
        </div>
        <div class="content-head">
            <div class="">
                <label class="bold">No : </label><label class="bold"> {no} </label><br /><br />
                <label>Kepada Yth:</label><br />
                <label class="bold">{vendor}</label><br />
                <label class="bold">UP : </label><label class="bold">{up}</label>
            </div>
        </div>
        <div class="content-head">
            <div class="">
                <label class="bold">Perihal : </label><label class="bold" style="margin-left:10px; text-decoration:underline">xxx</label>
            </div>
        </div>
        <div class="content-head">
            <table>
                <thead>
                    <tr>
                        <th>NO.</th>
                        <th>KODE</th>
                        <th>NAMA BARANG</th>
                        <th>Banyak</th>
                        <th>Satuan</th>
                        <th>Harga</th>
                        <th>Jumlah</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="center">1</td>
                        <td>AA</td>
                        <td>AA</td>
                        <td class="center">AA</td>
                        <td class="center">AA</td>
                        <td class="right">AA</td>
                        <td class="right">AA</td>
                    </tr>
                    <tr>
                        <td class="border-none border-right"></td>
                        <td class="border-none border-right"></td>
                        <td class="border-none border-right">SUB TOTAL</td>
                        <td class="border-none border-right"></td>
                        <td class="border-none border-right"></td>
                        <td class="border-none border-right"></td>
                        <td class="right border-none border-right">Rp. 2.500.000</td>
                    </tr>
                    <tr>
                        <td class="border-none border-right"></td>
                        <td class="border-none border-right"></td>
                        <td class="border-none border-right">DISCOUNT</td>
                        <td class="border-none border-right"></td>
                        <td class="border-none border-right"></td>
                        <td class="border-none border-right"></td>
                        <td class="right border-none border-right">Rp. 2.500.000</td>
                    </tr>
                    <tr>
                        <td class="border-none border-right"></td>
                        <td class="border-none border-right"></td>
                        <td class="border-none border-right">PPH</td>
                        <td class="border-none border-right"></td>
                        <td class="border-none border-right"></td>
                        <td class="border-none border-right"></td>
                        <td class="right border-none border-right">Rp. 2.500.000</td>
                    </tr>
                    <tr>
                        <td class="border-none border-right"></td>
                        <td class="border-none border-right"></td>
                        <td class="border-none border-right">DPP</td>
                        <td class="border-none border-right"></td>
                        <td class="border-none border-right"></td>
                        <td class="border-none border-right"></td>
                        <td class="right border-none border-right">Rp. 2.500.000</td>
                    </tr>
                    <tr>
                        <td class="border-none border-right"></td>
                        <td class="border-none border-right"></td>
                        <td class="border-none border-right">PPN</td>
                        <td class="border-none border-right"></td>
                        <td class="border-none border-right"></td>
                        <td class="border-none border-right"></td>
                        <td class="right border-none border-right">Rp. 2.500.000</td>
                    </tr>
                    <tr>
                        <td class="" colspan="3"></td>
                        <td class="center" colspan="2">Total</td>
                        <td class="">Rp</td>
                        <td class="right">Rp. 2.500.000</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="content-head">
            <div class="nomor"><label class="bold">1.</label></div>
            <div class="isi">
                <label class="bold">Pengiriman Barang</label><br />
                <label class="bold" style="text-decoration:underline;">SEGERA</label><br />
                <label>Setelah Surat ini diterima</label>
            </div>
        </div>
        <div class="clear"></div>
        <div class="content-head">
            <br />
            <div class="nomor"><label class="bold">2.</label></div>
            <div class="isi">
                <label class="bold">Cara dan syarat pembayaran : </label><br />
                <label class="bold">Pembayaran dilakukan dengan transfer 100 % setelah barang dan invoice diterima dalam waktu 2 minggu ke : </label><br />
                <label>Atas Nama : </label><label style="margin-left:10px;">{atasnama}</label><br />
                <label>Bank : </label><label style="margin-left:48px;">{namabank}</label><br />
                <label>Rek No : </label><label style="margin-left:33px;">{norekening}</label><br /><br />
                <label>Setelah barang diterima dengan baik dibuktikan dengan : </label><br />
                <label>a. Surat pembelian yang sudah ditanda tangani oleh ke dua belah pihak</label><label style="margin-left:100px;">c. Delivery Order</label><br />
                <label>b. Tanda Terima / Berita Acara Serah Terima Barang</label><label style="margin-left:230px;">d. Berita Acara Pekerjaan</label>
            </div>
        </div>
        <div class="clear"></div>
        <div class="content-head">
            <div class="nomor"><label class="bold">3.</label></div>
            <div class="isi">
                <label class="bold">Alamat Pengiriman Barang : </label><br />
                <label class="bold">{alamatpengirimanbarang}</label><br />
                <label >UP.</label><label style="margin-left:70px;">{uppengirimanbarang}</label><br />
                <label >Telp : </label><label style="margin-left:52px;">{telp}</label>
                <label></label>
            </div>
        </div>
        <div class="clear"></div>
        <div class="content-head">
            <div class="nomor"><label class="bold">4.</label></div>
            <div class="isi">
                <label class="bold">Kwitansi Atas Nama : </label><br />
                <label>{alamatkwitansi}</label><br />
                <label>NPWP : </label><label style="margin-left:30px;">{npwp}</label>
            </div>
        </div>
        <div class="clear"></div>
        <div class="content-head">
            <div class="nomor"><label class="bold">5.</label></div>
            <div class="isi">
                <label class="bold">Alamat Pengiriman Kwitansi : </label><br />
                <label>{alamatpengirimankwitansi}</label><br />
                <label>UP.</label><label style="margin-left:30px;">{uppengirimankwitansi}</label>
            </div>
        </div>
        <div class="clear"></div>
        <div class="content-head">
            <div class="">
                <label>Demikian surat pengadaan barang ini kami berikan dengan nilai sebesar {totalnilai} untuk dapat segera dilakukan dengan sebaik-baiknya.</label>
            </div>
            <div class="clear"></div><br /><br />
            <div class="">
                <label>Jakarta, {tanggal}</label><label style="margin-left:700px;">{vendor}</label>
            </div>
        </div>
        <div class="clear"></div>
        <div class="content-head">
            <div style="margin-top:70px;">
                <label>{up}</label><label style="margin-left:100px;">{up}</label><label style="margin-left:100px;">{uppengirimankwitansi}</label><label style="margin-left:500px;">{up}</label>
            </div>
        </div>
    </div>
</body>
</html>