<header class="main-header">
<!-- Logo -->
<a  class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
<span class="logo-mini" style="line-height:60px;"><img src="dist/img/mtf-bg-biru.png" width="50px" /></span> 
    <!-- logo for regular state and mobile devices -->
<span class="logo-lg"><img src="dist/img/mtf-bg-biru.png" width="100px" /></span> 
</a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
    <span class="sr-only">Toggle navigation</span>
    </a>
	<div class="navbar-custom-menu pull-left"> 
	<ul class="nav navbar-nav">
		<li>		 
			<a id="judul-page" title="Tambah" href="#"></a></li> 
		</li>
	</ul>
	</div>
    <div class="navbar-custom-menu">            
    <ul id="menu-top" class="nav navbar-nav">
    </ul>
    </div>
</nav>
</header>