<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<add key="manajer" value="aa17dd56-0b0a-4fb5-9c74-873db68f234c" />
	<add key="g-recaptcha-secret" value="6LfdehsTAAAAADvd6dH5Wf_OTxGUzyzEIFcQlld4" />
	<add key="USE_GOOGLE_RECAPTCHA" value="false" />
	<add key="FROM_EMAIL" value="jimbis182@gmail.com" />
	<add key="FROM_NAME" value="E-Procurement Mandiri Tunas Finance" />
	<add key="FROM_PASSWORD" value="281sibmij" />
	<add key="MAIL_HOST" value="smtp.gmail.com" />
	<add key="MAIL_PORT" value="587" />
	<add key="MAIL_ENABLE_SSL" value="true" />
	<add key="MAIL_VENDOR_REGISTRATION_TITLE" value="Pengajuan Rekanan PT Mandiri Tunas Finance" />
	<add key="MAIL_VENDOR_REGISTRATION_BODY" value="Selamat Datang, &lt;br&gt; Kami telah menerima pengajuan rekanan anda. Pengajuan Anda sedang memasuki proses verifikasi.&lt;br&gt;&lt;br&gt;Anda bisa memantau perkembangan status pengajuan di: {0}/registrasi.html?no={1} &lt;br&gt;&lt;br&gt;Terima kasih, &lt;br&gt;&lt;br&gt;Tim Pengadaan&lt;br&gt;PT Mandiri Tunas Finance" />
	<add key="MAIL_VENDOR_VERIFICATION_TITLE" value="Verifikasi Pengajuan Rekanan PT Mandiri Tunas Finance" />
	<add key="MAIL_VENDOR_VERIFICATION_BODY" value="Selamat Pagi,&lt;br&gt;&lt;br&gt; Selamat, {0}, pengajuan rekanan Anda telah berhasil kami verifikasi. Dengan ini, perusahaan Anda dapat mengikuti kegiatan pengadaan yang dilakukan oleh PT Mandiri Tunas Finance.&lt;br&gt;&lt;br&gt;Gunakan username dan password di bawah ini untuk masuk ke dalam sistem pengadaan online PT Mandiri Tunas Finance.&lt;br&gt;&lt;br&gt;Username : {1}&lt;br&gt;Password : {2}&lt;br&gt;&lt;br&gt;Gunakan link ini untuk masuk: {3}&lt;br&gt;&lt;br&gt;&lt;br&gt;Regards,&lt;br&gt;&lt;br&gt;Tim Pengadaan&lt;br&gt;PT Mandiri Tunas Finance" />
	<add key="MAIL_PENAWARAN_TITLE" value="Undangan Aanwijzing" />
	<add key="MAIL_PENAWARAN_YTH" value="Kepada Yth" />
	<add key="MAIL_PENAWARAN_FOOTER1" value="Tim Panitia Pengadaan" />
	<add key="MAIL_PENAWARAN_FOOTER2" value="PT. Mandiri Tunas Finance" />
	<add key="MAIL_KLARIFIKASI_TITLE" value="Undangan Klarifikasi" />
	<add key="MAIL_KLARIFIKASI_YTH" value="Kepada Yth" />
	<add key="MAIL_KLARIFIKASI_FOOTER1" value="Tim Panitia Pengadaan" />
	<add key="MAIL_KLARIFIKASI_FOOTER2" value="PT. Mandiri Tunas Finance" />
	<add key="KODE_PENGADAAN" value="/EPROC/MTF-GA/" />
	<add key="KODE_BERITAACARA" value="/MTF-GA/" />
	<add key="KODE_NOTA" value="/NOTA-GA/MTF/" />
	<add key="KODE_SPK" value="/SPK-GA/MTF/" />
	<add key="VIEW_BASE_PATH" value="View" />
	<add key="FILE_UPLOAD_TEMP" value="\Upload\Temp\" />
	<add key="FILE_UPLOAD_VENDOR" value="\Upload\Vendor\" />
	<add key="FILE_UPLOAD_REG" value="\Upload\Registrasi\" />
	<add key="FILE_UPLOAD_DOC" value="\Upload\Dokumen\Pengadaan\" />
	<add key="MSC_REGISTRATION_DUE" value="5" />

	<!--IDENTITY SERVER-->
	<add key="IDSRV_URL" value="http://localhost:7348/identity" />
	<add key="IDSRV_SECRET" value="" />
	<add key="IDSRV_DNSSAFE" value="false" />
	<add key="IDSRV_RUNSEEDER" value="false" />

	<add key="IDM_URL" value="http://localhost:7348/" />
	<add key="IDM_CLIENTNAME" value="Identity Manager" />
	<add key="IDM_CLIENTID" value="idm" />
	<add key="IDM_SECRET" value="secret" />

	<add key="EPROC_URL" value="http://localhost:49559/" />
	<add key="EPROC_CLIENTNAME" value="EPROC" />
	<add key="EPROC_CLIENTID" value="proc" />
	<add key="EPROC_SECRET" value="secret" />

	<add key="ECONTRACT_URL" value="http://localhost:55996/" />
	<add key="ECONTRACT_CLIENTNAME" value="ECONTRACT" />
	<add key="ECONTRACT_CLIENTID" value="contract" />
	<add key="ECONTRACT_SECRET" value="econtractsecret" />

	<!--END IDENTITY SERVER-->

	<!--ROLES-->
	<add key="ROLE_SUPERADMIN" value="eproc_superadmin" />
	<add key="ROLE_ADMIN" value="eproc_admin" />
	<add key="ROLE_USER" value="eproc_user" />
	<add key="ROLE_PROCHEAD" value="procurement_head" />
	<add key="ROLE_PROCMANAGER" value="procurement_manager" />
	<add key="ROLE_PROCSTAFF" value="procurement_staff" />
	<add key="ROLE_COMPLIANCE" value="compliance" />
	<add key="ROLE_ENDUSER" value="end_user" />
	<add key="ROLE_VENDOR" value="rekanan_terdaftar" />
	<!--END ROLES-->
</appSettings>