
@{
    ViewBag.Title = "ErrorMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error Message</h2>


<h3>
    @ViewBag.message
</h3>

<a href="@ViewBag.redir" rel="noopener noreferrer">Back</a>

