<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />

	<!--IDENTITY SERVER-->
	<!--<add key="IDSRV_URL" value="https://localhost:44389/identity" />-->
	<add key="IDSRV_URL" value="https://localhost:44396/identity" />
	<!--<add key="IDSRV_URL" value="https://eproc.calpadia.local:44396/identity" />-->
	<add key="IDSRV_SECRET" value="" />
	<add key="IDSRV_DNSSAFE" value="false" />
	<add key="IDSRV_RUNSEEDER" value="false" />

	<add key="IDM_URL" value="https://localhost:44396/" />
	<!--<add key="IDM_URL" value="https://eproc.calpadia.local:44396/" />-->
	<add key="IDM_CLIENTNAME" value="Identity Manager" />
	<add key="IDM_CLIENTID" value="idm" />
	<add key="IDM_SECRET" value="secret" />

	<add key="EPROC_URL" value="https://localhost:44392/" />
	<!--<add key="EPROC_URL" value="https://eproc.calpadia.local:44392/" />-->
	<add key="EPROC_CLIENTNAME" value="EPROC" />
	<add key="EPROC_CLIENTID" value="proc" />
	<add key="EPROC_SECRET" value="secret" />

	<add key="ECONTRACT_URL" value="http://localhost:55996/" />
	<add key="ECONTRACT_CLIENTNAME" value="ECONTRACT" />
	<add key="ECONTRACT_CLIENTID" value="contract" />
	<add key="ECONTRACT_SECRET" value="econtractsecret" />


	<add key="ID_SITENAME" value="EPROC Identity Service" />
	<add key="ID_ISSUERURI" value="procurement.mtf.co.id" />
	<!--<add key="ID_CERTNAME" value="idsrv3test.pfx" />
	<add key="ID_CERTPASSWORD" value="idsrv3test" />-->
	<add key="ID_CERTNAME" value="eproc.calpadia.local.pfx" />
	<add key="ID_CERTPASSWORD" value="123456" />
	<add key="ID_SITESSL" value="true" />
	<!--
	<add key="ID_ADMINPASSWORD" value="P@ssw0rd!" />
  -->
	<add key="ID_ADMINUSERNAME" value="eproc_admin" />
	<add key="ID_ADMINFIRSTNAME" value="eproc" />
	<add key="ID_ADMINLASTNAME" value="admin" />
	<add key="ID_ADMINEMAIL" value="eproc@mtf.co.id" />
	<add key="ID_ADMINROLE" value="eproc_superadmin" />
	<add key="ID_ADMINSUBJECT" value="00000000-0000-0000-0000-000000000000" />
	<add key="ID_USERROLE" value="eproc_user" />
	<!--END IDENTITY SERVER-->

	<!--LDAP-->
	<add key="LDAP_SSL" value="false" />
	<add key="LDAP_VERSION" value="3" />
	<add key="LDAP_FASTBIND" value="false" />
	<add key="LDAP_ISADAM" value="false" />
	<!--<add key="LDAP_HOST" value="192.168.18.200" />-->
	<add key="LDAP_HOST" value="localhost:389" />
	<!--<add key="LDAP_CONTAINER" value="DC=calpadia,DC=co,DC=id" />-->
	<add key="LDAP_CONTAINER" value="CN=mtf,DC=fachri,DC=com" />
	<!--<add key="LDAP_USERNAME" value="CN=Alfi,OU=Calpadia,DC=calpadia,DC=co,DC=id" />-->
	<add key="LDAP_USERNAME" value="CN=mtf,CN=user,CN=mtf,DC=fachri,DC=com" />
	<!--<add key="LDAP_PASSWORD" value="Opentext123!" />-->
	<add key="LDAP_PASSWORD" value="123456" />
	<add key="LDAP_APPDIR" value="true" />
	<!-- ApplicationDirectory, Domain, Machine -->
	<add key="LDAP_CONTEXT_TYPE" value="ApplicationDirectory" />
	<!--END LDAP-->

	<!--<add key="LDAP_SSL" value="false" />
	<add key="LDAP_VERSION" value="3" />
	<add key="LDAP_FASTBIND" value="false" />
	<add key="LDAP_ISADAM" value="false" />
	<add key="LDAP_HOST" value="localhost:10389" />
	<add key="LDAP_CONTAINER" value="DC=example,DC=com" />
	<add key="LDAP_USERNAME" value="UID=admin,OU=system" />
	<add key="LDAP_PASSWORD" value="secret" />
	<add key="LDAP_APPDIR" value="true" />
	<add key="LDAP_CONTEXT_TYPE" value="Machine" />-->

	<add key="ENABLE_ANTI_BRUTE_FORCE_ATTACK" value="false" />
</appSettings>