<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Info" internalLogFile="${baseDir}/log/nlog.log">

  <targets>
    <!-- 
    Target 'vsoutput' is used to output logging statements to Visual Studio Output 
    console. This target is suitable for debugging during development. 
    
    WARNING!! This target is very slow. Make sure to disable this target when runnning
    on performance-sensitive environtments such as production
    -->
    <!--
    <target name="vsoutput" 
            xsi:type="Debugger" 
            layout="${logger} ${message}"/>
    -->
    
    <!--
    Target 'file' is, as the name implies, a file sink. Before enabling this, make
    sure that Application Pool running this app has required privilege to write 
    to the destination path. 
    
    WARNING!! There is no way to control what developers are writing to log files. Log 
    files may as well be treated as containing secrets. As such make sure that the 
    destination file is not exposed either via HTTP or locally.
    -->
    <target name="file" 
            xsi:type="File" 
            fileName="${baseDir}/log/app.log" 
            layout="${longdate} ${level} ${logger}${newline}${callsite}${newline}${message}${newline}" 
            archiveEvery="Day"/>

    <target name="idsrv3log"
            xsi:type="File"
            fileName="${baseDir}/log/idsrv3.log"
            layout="${longdate} ${level} ${logger} ${newline} ${callsite} ${newline} ${message} ${newline}"
            archiveEvery="Day"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
    <!--<logger name="IdentityServer3.*" minlevel="Debug" writeTo="idsrv3log" />-->
  </rules>
</nlog>
