<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>

    <add key="BudgetTableTemp" value="[Pengadaan.Release].[pengadaan].[BudgetingTemp]" />
    <add key="BudgetTable" value="[Pengadaan.Release].[pengadaan].[Budgeting]" />
    <add key="BudgetDokumentTable" value="[Pengadaan.Release].[pengadaan].[DokumenBudget]" />
    <add key="SqlConnection" value="server=.;user id = sa; password = 123456; database = Generate; connection reset = false" />

  </appSettings>
  
</configuration>